Source: openpanel-cli
Section: misc
Priority: optional
Maintainer: OpenPanel/Panel6 packager <packages@panelsix.com>
Build-Depends: debhelper (>= 5), libgrace-ssl-devel
Standards-Version: 3.7.2

Package: openpanel-cli
Architecture: any
Depends: , openpanel-core (>= 0.8.0), libgrace, libgrace-ssl
Description: cli
 the commandline interface
