Source: openpanel-cli
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com
Build-Depends: debhelper (>= 5), libgrace-ssl, libgrace-ssl-devel, libgrace, libgrace-devel
Standards-Version: 3.7.2

Package: openpanel-cli
Architecture: any
Depends: libgrace, libgrace-ssl
Description: OpenPanel commandline interface
 the commandline interface
