#!/usr/bin/make -f


BUILD_ROOT=$(CURDIR)/debian/tmp
install:
trm -rf ${BUILD_ROOT}
tmkdir -p ${BUILD_ROOT}/usr/bin ${BUILD_ROOT}/usr/share/man/man1
tinstall -m 755 opencli ${BUILD_ROOT}/usr/bin
tgzip -c < opencli.1 > ${BUILD_ROOT}/usr/share/man/man1/opencli.1.gz

build:
t./configure
tmake
binary-indep:

binary-arch binary: build install
	if [ -d debian/tmp ] ; then dh_install -a --sourcedir=debian/tmp ; fi
	dh_installdocs -a
	dh_installdeb -a
	dh_compress -a
	dh_fixperms -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

.PHONY: build binary binary-arch binary-indep clean install
